/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.bici {
    height: 150px;
    width: 150px;
    background-color: rgb(172, 169, 169);
    border-radius: 20%;
  }
  .rojo {
    height: 150px;
    width: 150px;
    background-color: rgb(116, 3, 3);
    border-radius: 50%;
  }
  .rojo.iluminao {
    background-color: red;
  }
  .rojo__light {
    top:-15px;
    left: calc(50% - 100px);
    background-image: url(../img/rojo.png);
    mix-blend-mode: lighten ;
    opacity: 0.5;
    position: fixed;
    background-size: cover;
    width: 200px;
    height: 200px;
    z-index: 100;
  }
  .rojo__none{
      display: none;
  }
  
  .verde {
    height: 150px;
    width: 150px;
    background-color: rgb(2, 74, 2);
    border-radius: 50%;
  }
  .verde.iluminao {
    background-color: rgb(4, 165, 4);
  }
  
  .naranja {
    height: 150px;
    width: 150px;
    background-color: rgb(138, 92, 4);
    border-radius: 50%;
  }
  .naranja.iluminao {
    background-color: orange;
  }
  